@font-face {
  font-family: "SourceSansPro-Regular";
  src: url("Pinyon_Script,Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "PinyonScript";
  src: url("Pinyon_Script,Source_Sans_Pro/Pinyon_Script/PinyonScript-Regular.ttf");
}

/* This code is used to create a grid system that will be used to layout the different elements of the page. The grid system will be used to layout the header, the menu, the chef, the recipes, the description, the plan, the localisation and the footer. The grid system is a 2x8 grid with a header, a burger, a crusted chicken, a menu, a chef, a description, a reservation, recipes, a plan, a localisation and a footer. Each of the 8 rows is 675px. */

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.9fr 1.6fr 1.36fr 0.93fr 0.88fr 1.14fr 0.595fr 0.5fr;
  gap: 0px 0px;

  grid-template-areas:
    "header header"
    "bloc-publicitaire bloc-publicitaire"
    "menu menu"
    "chef chef"
    "reservation reservation"
    "recipes recipes"
    "plan-localisation plan-localisation"
    "footer footer";
  width: 100%;
  height: 5400px;

  font-family: "SourceSansPro-Regular", serif, Cambria, Cochin, Georgia, Times,
    "Times New Roman";
}

/* This code sets the background image for the header section of the page. */

.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.6fr 1fr 1fr;
  gap: 0px 0em;

  grid-template-areas:
    "logo logo . . . lien-a-propos lien-a-propos lien-menu lien-recipes lien-contact lien-reservation lien-reservation"
    ". . . . . . . . . . . ."
    ". . . bienvenue bienvenue bienvenue bienvenue bienvenue bienvenue . . ."
    ". . . . . . . . . . . .";

  justify-items: center;
  align-items: center;


  background-image: linear-gradient(rgba(52, 52, 61, 0.5), rgba(54, 51, 54, 0.29)), url(../img/eggs.jpg);

  background-size: cover;
  object-fit: fill;

}

header a {
  font-size: 1em;
  color: white;
  text-decoration: none;
}

.logo {
  grid-area: logo;
  font-size: 1em;
  color: white;
}

.lien-a-propos {
  grid-area: lien-a-propos;

}

.lien-menu {
  grid-area: lien-menu;
}

.lien-recipes {
  grid-area: lien-recipes;
}

.lien-contact {
  grid-area: lien-contact;
}

.lien-reservation {
  grid-area: lien-reservation;
  border: solid 1px rgba(200, 148, 70, 1);
  border-radius: 2px;
}

.lien-reservation:hover {
  background-color: rgba(200, 148, 70, 1);
  color: white;
}

.bienvenue {
  grid-area: bienvenue;
}



h1 {
  font-size: 60px;
  font-family: "PinyonScript";
  text-align: center;
  color: chocolate;
}

h2 {
  font-size: 70px;
  font-family: "SourceSansPro-Regular";
  text-align: center;
  color: white;
}

h3 {
  font-size: 24px;
  font-family: "SourceSansPro-Regular";
  text-align: center;
  color: white;
}

/*-----style pour la section:bloc-publicitaire---*/
.bloc-publicitaire {
  display: grid;
  grid-template-columns: 0.90625fr 1.54fr 0.32fr auto 0.90625fr;
  grid-template-rows: 1.54fr 0.243fr auto 0.38fr;
  gap: 0px 0px;
  grid-template-areas:
    ". image-burger . description-burger ."
    ". . . . ."
    ". description-crusted-chicken . image-crusted-chicken ."
    ". . . . .";
  grid-area: bloc-publicitaire;
}

.image-burger {
  grid-area: 1/ 2 / 2 / 3;

}

.cadre-image {
  position: relative;
  top: -30px;
  left: -30px;
  width: 350px;
  height: 425px;
  overflow: visible;
  border: 1px solid rgba(200, 148, 70, 1);
  z-index: 0;
  margin-left: 30px;
}

.image-burger img {
  margin-left: 30px;
  margin-top: 30px;
  z-index: 1;
}

.description-burger {

  grid-area: 1 / 4 / 2 / 5;

}


.see-more {
  font-family: "Source_Sans_Pro";
  font-size: 1.5em;
  color: #c89446;
  text-decoration: none;
}

.see-more::after {
  content: " >";
}

.description-crusted-chicken {
  grid-area: description-crusted-chicken;
  grid-column: 2/3;
  grid-row: 3;

}

.image-crusted-chicken {
  justify-self: end;
  grid-area: image-crusted-chicken;
  grid-column: 4/5;
  grid-row: 3;
}

.image-crusted-chicken img {

  margin-top: 30px;
  margin-left: -30px;

  z-index: 1;
}

.cadre-image-chicken {
  width: 350px;
  height: 425px;
  border: 2px solid #C89446;
  z-index: 0;
}



/*-----style pour la section:menu---*/
.menu {
  grid-area: menu;
  display: grid;
  grid-template-columns: 0.67fr 1.25fr 0.49fr 1.25fr 0.67fr;
  grid-template-rows: 0.27fr 0.31fr;


  grid-template-areas:
    "presentation-menu presentation-menu presentation-menu presentation-menu presentation-menu"
    "aliments-menu aliments-menu aliments-menu aliments-menu aliments-menu";

  margin-left: 8vw;
  margin-right: 9.6vw;
  border: 2px solid black;
}

.presentation-menu {
  grid-column: 2/5;
  grid-row: 1;
  grid-area: presentation-menu;
}

.aliments-menu {
  font-size: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "eggs porc chicken fish vegan";
  justify-items: center;
  align-items: center;
  grid-area: aliments-menu;
}

.aliments-menu a {
  text-decoration: none;
  color: black;
}

.aliments-menu a:hover {
  color: #C89446;
}

.vegan {
  grid-area: vegan;
  grid-column: 5;
  grid-row: 1;
}

.fish {
  grid-area: fish;
  grid-column: 4;
  grid-row: 1;
}

.chicken {
  grid-area: chicken;
  grid-column: 3;
  grid-row: 1;
}

.porc {
  grid-area: porc;
  grid-column: 2;
  grid-row: 1;
}

.eggs {
  grid-area: eggs;
  grid-column: 1;
  grid-row: 1;
}



.crusted-chicken-1{
 display:flex;
  flex-direction: row; 
  

  
}

 .image-crusted-chicken-1 {


}

.image-crusted-chicken-1 img {

}

.description-crusted-chicken-1 {

  overflow: hidden;
  box-sizing: border-box;
  

}
.bobun-light-odd{
  display: flex;
  flex-direction: row-reverse;
  
  


}

.image-bobun-light-odd {
  grid-area: image-bobun-light-odd;
  
 
}

.description-bobun-light-odd {
  grid-area: description-bobun-light-odd;
}

.image-crusted-chicken-2 {
  grid-area: image-crusted-chicken-2;
 



}

.description-crusted-chicken-2 {


}

.description-spicy-egg-paella {
  grid-area: description-spicy-egg-paella;
}

.image-spicy-egg-paella {
  grid-area: image-spicy-egg-paella;
}






/*-----style pour la section:chef---*/
.chef {
  grid-area: chef;


  display: grid;
  grid-template-columns: 0.4fr 2.6fr 0.2fr 1.3fr 0.5fr;
  grid-template-rows: 0.6fr 1.9fr 0.4fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . ."
    ". description-chef . image-chef ."
    ". . . . .";
}

.description-chef {
  grid-area: description-chef;
}

.image-chef {
  grid-area: image-chef;

}

/* ----------------------- Section pour les reservation ---------- */

.reservation {
  grid-area: reservation;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.7fr 1.3fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . ."
    ". texte texte texte ."
    ". col2 col3 col4 ."
    ". . btn . .";

}

.texte {
  justify-self: center;
  align-self: center;
  grid-area: texte;

}
.form{

}

.col2 input[type='text']{


}

.col3 {
  align-self: center;
  grid-area: col3;

}

.col4 {
  align-self: center;
  grid-area: col4;

}

.btn {
  align-self: center;
  grid-area: btn;

}

.recipes {
  grid-area: recipes;
}

.plan-localisation {
  grid-area: plan-localisation;
}

/* Section footer */
.footer {
  display: grid;
  grid-template-columns: 0.8fr 2.17fr 0.3fr 1.23fr 0.3fr 1.41fr 0.8fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". footer-c2-l1 . footer-c4-l1 . footer-c6-l1 ."
    ". footer-c2-l2 . footer-c4-l2 . footer-c6-l2 ."
    ". footer-c2-l3 . . . . .";
  grid-area: footer;
  background-color: #383838;
  color: white;
}

.footer-c2-l1 {
  align-self: center;
  grid-area: footer-c2-l1;
}

.footer-c2-l2 {
  grid-area: footer-c2-l2;
}

.footer-c2-l3 {
  align-self: center;
  grid-area: footer-c2-l3;
}

.footer-c4-l1 {
  align-self: center;
  grid-area: footer-c4-l1;
}

.footer-c4-l2 {
  grid-area: footer-c4-l2;
}

.footer-c6-l1 {
  align-self: center;
  grid-area: footer-c6-l1;
}

.footer-c6-l2 {
  grid-area: footer-c6-l2;

}

